/*Page Principal */
  
.spinner {
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #f1edf5;
    height: 100vh;
    inset: 0;
    z-index: 5;
    opacity: 0.9;
    animation: animation 1s forwards;
    animation-delay: 5s;
  }
  .spinner::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid white;
    border-color: #9356dc;
    border-radius: 50%;
    animation: animation 1s ease infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes animation {
   100% { transform: scaleX(0);}

}
  
.title {
    margin-left: 39%;
    width: 15.5%;
}
.icon {
    position:absolute;
    height: 8%;
    left: 0%;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #eaeaea;
}
.menu-titre {
    position: relative;
    left: -28%;
}
.menu {
    margin-bottom: 2rem;
  }
 .menu h2 {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 1rem;
  }
 .menu ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }
  .menu ol li {
    width: 280px;
    background-color: #F6F6F6;
    border-radius: 1rem;
    padding: 1.5rem 0;
    box-shadow: 0 3px 5px darkgray;
    transition: transform 1s;
    font-size: 1.1rem;
  }
  .menu ol li i {
    margin-right: 0.5rem;
  }
  .menu ol li span {
    position: relative;
    left: -1rem;
    border: 1px solid #9356dc;
    padding: 0.4rem 0.8rem;
    border-radius: 50%;
    font-weight: bold;
    background-color: #9356dc;
    color: white;
  }
  .menu ol li span:hover {
    cursor: pointer;
  }
.menu ol li:hover i {
    color: #9356dc;
}
 .menu li:hover {
    border-radius: 15px;
    box-shadow:0 5px 5px  rgba(0,0,0,0.16);
    transition:transform .3s;
    cursor:pointer;
    transform:scale(1.02)
 }
.fa-location-dot {
    padding: 1%;
}
p {
    margin-left: 42%;
    font-size: 110%;
    font-weight: 600 ;
}
h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 25%;
    font-size: 275%
}
.p2 {
    margin-left: 29%;
    font-size: 120%;
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
    color: #7f7d7e;
}
.p3 {
    color: white;
    margin-left: 0%
}
.bn-res {
    width: 16%;
    margin-top: 1%;
    padding: 0.2%;
    border-radius: 50px;
    border: white;
    margin-left: 42%;
    animation: none;
    background: linear-gradient(#9356dc,#ff79da)
}
button:hover {
    border-radius:50px;
    box-shadow:0 5px 5px  rgba(0,0,0,0.16);
    overflow: hidden;
    transition:transform .3s;
    cursor:pointer;
    transform:scale(1.02);
}
.font {
    padding-top: 5%;
    margin-left: -1%;
    width: 101.6%;
    height: 250px;
    background-color: #F2F2F2;
}
h2 {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
    margin-left: 10%;
}
.font1 {
    width: 100%;
    height: 800px;
    background-color: white;
}
a {
    font-family: Arial,sans-serif
}
img.test1 {
    object-fit: cover;
}
.test2 {
    margin-left: 55%;
    height: 40%;
    width: 40%;
    border-radius: 1%;
}
.test1 {
    width: 90%;
    height: 80%;
    margin-left: 10.5%;
    border-radius: 1%;
}
.cards{
    display: flex;
    margin-left: 5%;
}
.card-h-m {
    background-color: white;
    position: relative;
    border-radius: 20px;
    padding: 0px;
    width: 38%;
    margin-left: 7%;
    height: 260px;
    filter: drop-shadow(10px 15px 10px rgba(7, 7, 7, 0.1));
}
.card-h-m:hover {
    border-radius: 20px;
    box-shadow:0 5px 5px  rgba(0,0,0,0.16);
    overflow: hidden;
    transition:transform .3s;
    cursor:pointer;
    transform:scale(1.01);
}
.cardM {
    position: relative;
    height: 220px;
    width: 100%;
}
.textM {
    position: relative;
    margin-left: 3.9%;
    top: -4%;
    font-family: 'Gill Sans', Calibri,'Trebuchet MS', sans-serif;
}
.textM1 {
    position: relative;
    margin-left: 4%;
    top: -19%;
    font-family: 'Gill Sans', Calibri,'Trebuchet MS', sans-serif;
}
.textM2 {
    position: relative;
    margin-left: 4%;
    top: -15%;
}
.textM3 {
    position: relative;
    margin-left: -0.5%; 
    margin-top: -3%;
    font-family: 'Gill Sans', Calibri,'Trebuchet MS', sans-serif;}
.titre {
    position: relative;
    margin-left:-66%;
    font-family: 'Gill Sans', Calibri,'Trebuchet MS', sans-serif;
    top: -10%;
    color: #605c5e;
}
.titre1 {
    position: absolute;
    margin-left: 0%;
    font-weight: 600; 
    width: 50%;
    top: 40%;
    font-family: 'Gill Sans', Calibri,'Trebuchet MS', sans-serif;
    color: #605c5e;
}
.titre2 {
    position: relative;
    margin-left: -72.5%; 
    margin-top: -3%;
    font-family: 'Gill Sans', Calibri,'Trebuchet MS', sans-serif;
    color: #605c5e;
}
.titre3 {
    position: absolute;
    margin-left: -21%;
    font-weight: 600; 
    width: 50%;
    top: 40%;
    font-family: 'Gill Sans', Calibri,'Trebuchet MS', sans-serif;
    color: #605c5e;
}
img.test1 {
    width: 100%;
    margin-left: 0%;
    border-radius: 20px 20px 0px 0px;
}
.num1 {
    position: absolute;
    margin: 1%;
    margin-left: -40%;
}
.text6 {
    position: absolute;
    display: flex;
    top: 15px;
    left: 78%;
    padding: 9px;
    font-size: 85%;
    font-family: Arial, sans-serif;
    width: 14%;
    height: 14px;
    border-radius: 3px;
    color: #627965;
    background-color: #99e2d0;
}
.space {
    margin-top: 2%;
}
footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1%;
}
.footer1 {
    position: absolute;
    font-family: Arial, Helvetica,sans-serif;
    width: 50%;
    font-size: 95%;
    padding-top: 0.4%;
    margin-left: -28%;
    margin-top: 2%;
    color: white;
}
.fa-utensils {
    margin: 1.5%;
}
.fa-regular {
    top: 1px;
    left: 17%;
    font-size: 1.6em;
    cursor: pointer;
    font-weight: 100;
  }
  .fa-regular:hover {
    -webkit-background-clip: text;
    font-weight: 900;
    -webkit-text-fill-color: rgba(147,86,220,1)
  }
  .heart {
    position: inherit;
    margin-left: 67%;
    top: 5.3%;
}
.footer2 {
    position: absolute;
    font-family: Arial, Helvetica,sans-serif;
    font-size: 95%;
    width: 60%;
    left: 23%;
    margin-top: 2.3%;
    color: rgb(255, 255, 255);
}
.footer3 {
    width: 50%;
    font-size: 90%;
    margin-left: 36%;
    margin-top: 2.5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.footer4 {
    position: absolute;
    left: 70%;
    padding: 2.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    color: white;
}
.footer5 {
    position: absolute;
    width: 13%;
    margin-left: 87%;
    filter:invert();
    padding-top: 3%;
}
footer.space {
    position: absolute;
    width: 98%;
    height: 15.5%;
    left: 0%;
    background: #353535;
}
button {
    animation: Momo 2s 1;
    position: relative;
    animation-direction: normal;
    animation-delay: 1s;
}

/* animation */
@keyframes Momo {
    0%  { padding-top:10%; }
}

/* Partie Menu1Desktop*/
.logo {
    margin-left: -10%;
    width: 60%;
 }
 .title {
    padding: 2%;
 }
 .fa-heart.fa-xl {
    position: absolute;
    margin-left: 72%;
    padding-top: 6.6%;
 }
 .fa-arrow-up.fa-rotate-270 {
    position: fixed;
    margin: 1.5%;
    top: 4%;
 }
 .menu1 {
    width: 100%;
    height: 350px;
    object-fit: cover;
 }
 .fontmenu {
    position: absolute;
    top: 56%;
    width: 70%;
    border-radius: 50px 50px 0px 0px;
    margin-left: 16%;
    height: 1400px;
    background-color: rgba(246,246,246,1);
 }
 .textmenu {
    position: relative;
    margin-left: 35%;
    top: 1%;
    font-size: 180%;
    font-style:italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .test6 {
    position: relative;
    top: -10.5%;
    margin-left: -250%;
 }
 .titremenu {
    margin-left: -40%;
    padding-top: 2%;
 }
 .titremenu1 {
    position: absolute;
    margin-left: 27%;
    padding-top: 28.5%;
 } 
 .titremenu2 {
    position: absolute;
    margin-top: 54%;
    margin-left: 26.2%;
 }
 .titremenu3 {
    position: absolute;
    margin-left: 27%;
    padding-top: 37%;
 }
 .trait {
    margin-left: 18.7%;
    width: 4%;
    margin-top: -1%;
    height: 0.2%;
    background-color: rgba(153,226,208,1);
 }
 .trait1 {
    position: absolute;
    margin-left: 41.5%;
    width: 75%;
    margin-top: -20%;
    height: 0.5%;
    background-color: rgba(153,226,208,1);
 }
 .menuh3 {
    display: flex;
    margin-left: 1%;
 }
 .menuh3M {
    display: flex;
    margin-left: 1%;
 }
 .menuh3MM{
    display: flex;
    margin-left: 1%;
 }
 .menuhM5 {
    display: flex;
    margin-left: 1%;
 }
 .menuhM6 {
    display: flex;
    margin-left: 1%;
 }
 .menuhM7{
    display: flex;
    margin-left: 1%;
 }
 .menup {
    display: flex;
    margin-left: 1%;
    font-weight:200;
    margin-top: 0%;
 }
 .menupM {
    display: flex;
    margin-left: 1%;
    font-weight: 200;
    margin-top: 1%;
 }
 .menupMM{
    display: flex;
    margin-left: 1% ;
    font-weight: 200;
    margin-top: 1%;
 }
 .menupMMM {
    display: flex;
    margin-left: 1%;
    font-weight: 200;
    margin-top: 1%;
 }
 .menupM4 {
    display: flex;
    margin-left: 1%;
    font-weight: 200;
    margin-top: 1%;
 }
 .menupM5 {
    display: flex;
    margin-left: 1%;
    font-weight: 200;
    margin-top: 1%;
 }
 .menupM6 {
    display: flex;
    margin-left: 1%;
    font-weight: 200;
    margin-top: 1%;
 }
 .menupM7 {
    display: flex;
    margin-left: 1%;
    font-weight: 200;
    margin-top: 1%;
 }
 .p-num {
    position: absolute;
    top: 50%;
    margin-left: 90%;
    width: 10%;
 }
 .p-num1 {
    position: absolute;
    width: 50%;
    margin-left: 42%;
    top: 60%;
    height: 4%;
    background-color: rgba(153,226,208,1);
 }
 .bn-menu {
    width: 60%;
    height: 5.5%;
    margin-left: 18%;
    margin-top: 1%;
    border-radius: 20px;
    border: white;
    background-color: white;
 }
.fa-circle-check {
    position: relative;
    margin-left:74.5%;
    top: -3.4%;
}
.circle {
    position: absolute;
    margin-left: 90%;
    top: 40%;
}
.anima:hover {
	margin-left: 82%;
    transition-duration: 1s;
    transition: 1s;
}
.p-num::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  .p-num:hover::before {
    transform: scaleX(1);
  }
  .p-num::before {
    content: "";
    display: flex;
    position: absolute;
    background: rgba(153,226,208,1);
    width: 100%;
    height: 100px;
    margin-top: 10%;
    margin-left: 80%;
    border-radius: 0px 0px 20px 0px;
    z-index: -1;
    top: -60px;
    transition: transform .5s ease;
  }
button:hover {
      border-radius: 20px;
   }
 .bn-menu1 {
    position: absolute;
    width: 42%;
    top: 99%;
    height: 12%;
    margin-left: 28.5%;
    border-radius: 20px ;
    border: white;
    background-color: white;
 }
 .bn-menu2 {
    position: absolute;
    width: 42%;
    top: 113.5%;
    height: 12%;
    margin-left: 28.5%;
    border-radius: 20px ;
    border: white;
    background-color: white;
 }
 .bn-menu3 {
    position: absolute;
    width: 42%;
    top: 136.5%;
    height: 12%;
    margin-left: 28.5%;
    border-radius: 20px;
    border: white;
    background-color: white;
 }
 .bn-menu4 {
    position: absolute;
    width: 42%;
    top: 151%;
    height: 12%;
    margin-left: 28.5%;
    border-radius: 20px;
    border: white;
    background-color: white;
 }
 .bn-menu5 {
    position: absolute;
    width: 42%;
    top: 165.5%;
    height: 12%;
    margin-left: 28.5%;
    border-radius: 20px;
    border: white;
    background-color: white;
 }
 .bn-menu6 {
    position: absolute;
    width: 42%;
    top: 188%;
    height: 12%;
    margin-left: 28.5%;
    border-radius: 20px;
    border: white;
    background-color: white;
 }
 .bn-menu7 {
    position: absolute;
    width: 42%;
    top: 202.5%;
    height: 12%;
    margin-left: 28.5%;
    border-radius: 20px;
    border: white;
    background-color: white;
 }
 .bn-menu8 {
    position: absolute;
    width: 42%;
    top: 217%;
    height: 12%;
    margin-left: 28.5%;
    border-radius: 20px;
    border: white;
    background-color: white;
 }
 .bn-menu9 {
    position: absolute;
    width: 14%;
    margin-top: 82%;
    height: 8%;
    border-radius: 50px;
    border: white;
    margin-left: 42%;
    animation: none;
    background: linear-gradient(#9356dc,#ff79da)
 }
 .bn-menu10 {
    position: absolute;
    width: 42%;
    top: 128%;
    height: 12%;
    margin-left: 28.5%;
    border-radius: 20px;
    border: white;
    background-color: white;
 }
 .bn-menu11 {
    position: absolute;
    width: 42%;
    top: 152%;
    height: 12%;
    margin-left: 28.5%;
    border-radius: 20px;
    border: white;
    background-color: white;
 }
 .bn-menu12 {
    position: absolute;
    width: 42%;
    top: 166%;
    height: 12%;
    margin-left: 28.5%;
    border-radius: 20px;
    border: white;
    background-color: white;
 }
 .bn-menu13 {
    position: absolute;
    width: 42%;
    top: 180%;
    height: 12%;
    margin-left: 28.5%;
    border-radius: 20px;
    border: white;
    background-color: white;
 }
 .foot-menu {
    position: absolute;
    width: 98%;
    top: 1700px;
    padding-top: 1%;
    margin-left: -0.6%;
    height: 100px;
    background-color: #353535;
 }
 .fotter-bloc {
    display: inline;
    margin-bottom: 15px;
    padding: 0 40px;
    width: 100%;
    max-width: 1200px;
 }

/* Small devices (phones, less than 768px) page Principal */
@media (max-width: 768px){
.title {
        width: auto;
        margin-left: 30%;
        padding: 2%;
    }
.icon {
        position: absolute;
        left: -13%;
        height: 8%;
        width: 113%;
        font-family:Arial, Helvetica, sans-serif;
        background-color: #eaeaea;
    }
.p-num {
        display: flex;
        margin-top: -9%;
    }
.font {
        padding-top: 5%;
        width: 102.9%;
        margin-left: -1%;
        height: 340px;
        background-color: #F6F6F6;
    }
.bn-res {
    width: 42%;
    padding: 0.5%;
    margin-left: 30%;
}
h1 {
        margin-left: 19%;
        font-size: 30px;
        width: 60%;
        padding-top: 10%;
        text-align: center;
    }
.p2 {
        width: 70%;   
        margin-left: 15%;
        font-size: 120%;
        text-align: center;
    }
.bn {
        width: 50%;
        padding: 0.5%;
        margin-left: 25%;
    }
h2{
        margin-left: 1%;
        margin-top: 15%;
        padding-top: 10%;
    }
li {
    margin-left: -10%;
    padding-top:20%;
    min-width: 100%;
    margin-top: -5%;
}
.menu-titre {
    position: relative;
    left: -28%;
    padding-bottom: 5%;
}
div.cards {
    flex-direction: column;
}
.card-h-m {
    width: 100%;
    margin-left: -2.5%;
    margin-top: 6%;
}
img.logo {
    width: 100px;
    left: -25px;
}
.footer1 {
    position: absolute;
    font-family: Arial, Helvetica,sans-serif;
    width: 100%;
    padding-top: 5%;
    margin-left: -75%;
    color: white;
}
.footer2 {
    position: absolute;
    font-family: Arial, Helvetica,sans-serif;
    width: 100%;
    margin-left: -60%;
    padding-top: 11%;
    color: rgb(255, 255, 255);
}
.footer3 {
    width: 100%;
    font-size: 95%;
    margin-left: -75%;
    padding-top: 18%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.footer4 {
    position: absolute;
    margin-left: -7%;
    width: 60%;
    left: -16%;
    padding-top: 27%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    color: white;
}
.space {
    margin-top: 15%;
}
footer.space {
    display: flex;
    width: 95%;
    height: 31%;
    margin-left: 1%;
}
.fa-circle-check {
    position: relative;
    margin-left:50.5%;
    top: -3.4%;
}
/* Partie Mobile-menu1 (page2)*/
@media (max-width: 768px){
    .textmenu {
        width: 100%;
        margin-left: 4%;
        top: auto;
        font-weight: 400;
        font-style: italic;
    }
    img.menu1 {
        width: 96%;
        margin-left: 1%;
    }
    .fa-heart.fa-xl {
        margin-left: 70%;
     }
     .heart {
        left: 12%;
        top: 4.5%;
     }
     .p-num {
        top: 120%;
     }
    .titremenu {
        margin-left: -65%;
    }
    .titremenu1 {
        top: 108%;
        margin-left: -1%;
    }
    .titremenu2 {
        top: 143%;
        margin-left: -4%;
    }
    .menuh3M {
        display: flex;
        margin-left: 1%;
    }
    .menuh3MM {
        display: flex;
        margin-left: 1%;
    }
    .menupMMM {
        display: flex;
        margin-left: 1%;
    }
    .menuhM5 {
        display: flex;
        margin-left: 1%;
    }
    .menuhM6 {
        display: flex;
        margin-left: 1%;
    }
    .menuhM7 {
        display: flex;
        margin-left: 1%;
    }
    hr.trait {
        margin-left: 4%;
        width: 8%;
        height: 2px;
    }
    hr.trait1{
        height: 2px;
        width: 40px;
    }
    .fontmenu {
        position: absolute;
        margin-left: 0.5%;
        width: 95%;
    }
    button.bn-menu {
        width: 95%;
        margin-left: 2%;
    }
    button.bn-menu1 {
        width: 90%;
        margin-left: 2%;
    }
    button.bn-menu2 {
        width: 90%;
        margin-left: 2%;
    }
    button.bn-menu3 {
        width: 90%;
        margin-left: 2%;
    }
    button.bn-menu4 {
        width: 90%;
        margin-left: 2%;
    }
    button.bn-menu5 {
        width: 90%;
        margin-left: 2%;
    }
    button.bn-menu6 {
        width: 90%;
        margin-left: 2%;
    }
    button.bn-menu7 {
        width: 90%;
        margin-left: 2%;
    }
    button.bn-menu8 {
        width: 90%;
        margin-left: 2%;
    }
    .bn-menu9 {
        margin-top: 66%;
    }
    .menuh3 {
        display: flex;
        margin-left: 1%;
    }
    .menup {
        display: flex;
        margin-left: 1%;
    }
    .menupM4 {
        display: flex;
        margin-left: 1%;
    }
    .menupM5 {
        display: flex;
        margin-left: 1%;
    }
    .menupM6 {
        display: flex;
        margin-left: 1%;
    }
    .menupM7 {
        display: flex;
        margin-left: 1%;
    }
    .menupM {
        display: flex;
        margin-left: 1%;
    }
    .menupMM {
        display: flex;
        margin-left: 1%;
    }
    .foot-menu {
        width: 93%;
        height: 30%;
        top: 250%;
        margin-left: 0.5%;
        background: #353535;
    }
    img.logo {
        margin-left: -425px;
    }
    .bn-menu9 {
        width: 35%;
        margin-left: 26%;
        top: 180%;
    }

}
}